# Segmenting and Clustering Neighborhoods in Toronto

This notebook is mainly used for segmenting and Clustering Neighborhoods in Toronto

In [2]:
from bs4 import BeautifulSoup

In [3]:
import requests

In [4]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

In [91]:
soup = BeautifulSoup(source, 'lxml')

In [6]:
table = soup.find('table',{'class':'wikitable sortable'})

In [92]:
detail = table.findAll('tr')

Get the title of the table first

In [62]:
title=detail[0].text.splitlines()[1:]
title

['Postcode', 'Borough', 'Neighbourhood']

Append all the text to different list

In [79]:
postcode=[]
borough=[]
neighbourhood=[]
detail1=detail[1:]
for i in range(len(detail1)):
    pc=detail1[i].text.splitlines()[1:][0]
    br=detail1[i].text.splitlines()[1:][1]
    nb=detail1[i].text.splitlines()[1:][2]
    postcode.append(pc)
    borough.append(br)
    neighbourhood.append(nb)

In [77]:
import pandas as pd

In [80]:
df = {str(title[0]):postcode,str(title[1]):borough,str(title[2]):neighbourhood}

Create the dataframe

In [83]:
df = pd.DataFrame(df)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Ignore cells with a borough that is Not assigned

In [90]:
df1=df[df["Borough"]!="Not assigned"]

More than one neighborhood can exist in one postal code area

In [106]:
df2=df1.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
df2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [113]:
df2.loc[df2['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = df2['Borough']
df2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [116]:
df2.shape

(103, 3)